body{
    text-align: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}
#landing{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 600px;
    text-align: center;
    color: white;
    padding-top: 200px;
}
h1 p{
    position: absolute;
    bottom: 90%;
    left: 50%;
    font-size: 10px;
}
.douglas{
    text-align: center;
}
.services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    color: white;
    padding-top: 100px;
    font-size: 20px;
}
.what-we-do{
    justify-content: space-between;
    display: block;
    list-style: none;
}
.portfolio{
    text-align: center;
    padding: 40px;
    margin-left: 20px;
    justify-content: space-between;
}
.contact-us{
    background-image: url(../assets/backgrounds/c_image.jpg);
    text-align: center;
    height: 680px;
    justify-content: space-around;
}
.container{
    margin: 20px;
    padding: 20px;
    align-items: center;
    padding-top: 2px;
    box-sizing: border-box;
}
.form{
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    margin-top: 10px;
}
.moringa{
    float: left;
}
.form::placeholder{
    color: white;
}
.footer{
    padding-top:5px;
    justify-content:space-around;
}
.delan{
    text-size-adjust: 2px;
    margin: 20px;
}
.text{
    resize: vertical;
    max-height: 300px;
    outline: none;
    padding-top: 20px;
    margin: 3px;
}
#hen{
    width: 36%;
    height: 150px;
    background: transparent;
    color: white;
}
#doug{
    background: transparent;
    color: white;
}
.show{
    display: none;
}
#hen::placeholder{
    color: white;
}
#doug::placeholder{
    color: white;
}
.work4:hover{
    position: relaive;
    width: 100%;
    transition: 0.5s ease;
    background: -o-linear-gradient(180deg,#f00,#000);
    display: flex;
    z-index: 1;
    transform: scale(1.25);
}